.card1{
  width: 300px!important;
  float: left;
  margin: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 10px 10px rgb(209,187,229);
  border:2px solid black;

}
.img1{
  height: 300px;
}

.btn{
  margin-left: 200px;
}
.btn1 button{
  margin: 20px;
  padding: 7px;
  width: 120px;
}
.n{
  margin: 10px;
  color: blueviolet;

}
.p{
  color: green;
  text-decoration: none;
  background-color: blue;
}